<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="{{ site.author }}">

	<title>
		{% if page.title %}
		{{ page.title }} -
		{% endif %}

		{{ site.title }}
	</title>

	

	<!-- Bootstrap CSS  -->
	<link rel="stylesheet" type="text/css" href="/lib/bootstrap-4.0.0-alpha.4/css/bootstrap.min.css">
	<!-- FA  -->
	<link rel="stylesheet" type="text/css" href="/lib/fa-4.6.3/css/font-awesome.min.css">
	
	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="/css/pygments/tango.css">
	<link rel="stylesheet" type="text/css" href="/css/final.css">
</head>